In [1]:
import numpy as np
import pandas as pd

In [2]:
d={'USN':[100,101,102],
   'name':['raj','ram','rajesh'],
  'mobile':[99,88,77],
   'marks':[10,9,8]
  }

In [3]:
std=pd.DataFrame(d)

In [4]:
print(std)

   USN    name  mobile  marks
0  100     raj      99     10
1  101     ram      88      9
2  102  rajesh      77      8

In [5]:
d1={'c1':[12,13,14],
    'c2':[10,11,12]
   };
d2={'c3':[5,6,7],
    'c4':[1,2,3]
   };
d3={'c5':[123,456,678],
    'c6':[3,4,5]
   };

In [6]:
df1=pd.DataFrame(d1)

In [7]:
print(df1)

   c1  c2
0  12  10
1  13  11
2  14  12

In [8]:
df2=pd.DataFrame(d2)

In [9]:
print(df2)

   c3  c4
0   5   1
1   6   2
2   7   3

In [10]:
df3=pd.DataFrame(d3)

In [11]:
print(df3)

    c5  c6
0  123   3
1  456   4
2  678   5

In [12]:
pd.concat([df1,df2])

     c1    c2   c3   c4
0  12.0  10.0  NaN  NaN
1  13.0  11.0  NaN  NaN
2  14.0  12.0  NaN  NaN
0   NaN   NaN  5.0  1.0
1   NaN   NaN  6.0  2.0
2   NaN   NaN  7.0  3.0

Join types 1.inner combine 2 data frames based on common clomun name : on 2.right 3.left 4.outer

In [13]:
d4={'c1':[12,13,14],
    'c2':[10,11,12]
   };
d5={'c2':[5,6,7],
    'c4':[1,2,3]
   };

In [14]:
df4=pd.DataFrame(d4)
df5=pd.DataFrame(d5)

In [15]:
pd.merge(df4,df5,how='inner',on='c2')
# returns only rows which are common

Empty DataFrame
Columns: [c1, c2, c4]
Index: []

In [16]:
d6={'c1':[12,13,14,11],
    'c2':[5,6,7,10]
   };
d7={'c2':[5,6,7,9],
    'c4':[1,2,3,7]
   };
d8={'c2':[5,6,7],
    'c4':[1,2,3]
   };

In [17]:
df6=pd.DataFrame(d6)
df7=pd.DataFrame(d7)
df8=pd.DataFrame(d8)

In [18]:
pd.merge(df6,df7,how='left',on='c2')

   c1  c2   c4
0  12   5  1.0
1  13   6  2.0
2  14   7  3.0
3  11  10  NaN